.content
{
	width: 55%;
	margin: auto;
	margin-top: 90px;
	padding: 10px;
 	margin-bottom: 100px;
}
.details
{
	width: 80%;
	margin:auto;
}
.details p
{
	font-size: 13px;
	border-bottom: 1px solid #E0E0E0;
	display: block;
}
.education
{
		text-align: center;
		width: 80%;
		margin: auto;
}
.education h1,.details h1
{
	text-align: center;
	text-decoration: underline;
}
.education p
{
	font-size: 13px	text-align: left;
};

.education h4
{
	text-decoration: underline;
}
@media (max-width:700px)
{
	.content{
		width: 70%;
	}
}
@media (max-width:460px)
{
	.content{
		width: 95%;
	}
}

h1,h2,h3,h4,h5,h6
{
	color: teal;
	font-size: 22px;
}