.content
{
	width:90%;
	margin: auto;
	margin-top: 110px;
}
h1
{
	text-align: center;
}
.card p
{
	font-size: 1.2rem;
}
.card h1
{
	color: white;
}
.card-box
{
	display: flex;
	flex-wrap: wrap;
}
.card
{
	width: 40%;
	margin: 0 0 10px 10px;
	padding: 7% 3%;
	border: 1px solid rgb(161, 159, 159);
	border-radius: 10px;
	transition: background 0.3s ease, transform 0.3s ease;
}
.card:hover
{
	background: linear-gradient(to right , teal,seagreen,rebeccapurple,purple);
	transform: scale(1.02);
}

.btn3
{
	text-decoration: none;
}
.btn3:hover
{
    background: linear-gradient(to right ,rebeccapurple,purple);
    background-clip: text;
    color: transparent;
}




@media (max-width:800px)
{
	.card
	{
		width: 40%;
	}
}
@media (max-width:769px)
{
	.card
	{
		width: 80%;
		margin: auto;
		margin-bottom: 15px;
	}
}


@media (max-width:570px)
{
	.card
	{
		
	}
}
@media (max-width:460px)
{	
	.content
	{

	}
	.card
	{
		width: 90%;
	}
}

h1,h2,h3,h4,h5,h6
{
	color: teal;
	font-size: 22px;
}